.mode-select__select {
    width: 180px;
    height: 30px;
    float: right;
    background-color: lightgray;
    cursor: pointer;
    font-size: 0.8em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-transition: background-color 0.7s;
    -moz-transition: background-color 0.7s;
    -ms-transition: background-color 0.7s;
    -o-transition: background-color 0.7s;
    transition: background-color 0.7s;
}

.mode-select__select:disabled {
    color: gray;
}

.mode-select__select:hover {
    background-color: gray;
}

.mode-select__select:disabled:hover {
    background-color: lightgray;
    cursor: default;
}

