.lists-input__input {
    /*font-size: 1.1em;*/
    float: right;
    display: inline-block;
    width: 100px;
    height: 30px;
    font-size: 0.9em;
    background-color: lightgray;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    user-select: none;

    -webkit-transition: background-color 0.7s;
    -moz-transition: background-color 0.7s;
    -ms-transition: background-color 0.7s;
    -o-transition: background-color 0.7s;
    transition: background-color 0.7s;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    border: none;
    cursor: pointer;
}

.lists-input__input:disabled {
    color: gray;
}

.lists-input__input:hover {
    background-color: gray;
}

.lists-input__input:disabled:hover {
    background-color: lightgray;
    cursor: default;
}