.file-input__input {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    left: 0;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
}